<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Doctor Sign In</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
<header th:fragment = "top" >
    <a th:href="@{/} >home page </a>
    <nav>
        <span>Doctor Secret Service</span>
        <a href="/">Sign In</a>
    </nav>
</header>

<footer th:fragment = "bot">
    <a th:href=""@
    <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">TARDIS</a></li>
    </ul>
    <span>Copyright BBC/Terry Nation 1963</span>
</footer>
</body>
</html>
